div {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s;/* For Safari 3.1 to 6.0 */
    -webkit-transition-delay: 1s;
    transition: width 2s;
    transition-delay: 1s;
}
div:hover {
    width: 300px;
}