.tit {
    margin: auto;
    padding: 300px;
    background-color: lightblue;
}
.part1 {
    padding: 25px;
    background-color: lightblue;
}
.part2 {
    padding: 50px;
    background-color: lightblue;
}